/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/

@font-face {
    font-family: CenturyGothic;
    src: url('../fonts/911Fonts.com_CenturyGothicRegular__-_911fonts.com_fonts_mhpY.ttf');
}

body {
	font-family: CenturyGothic;
}
.place {
	height: 100px;
	width: 100%;
	background-color: #b8b6b6;
}

.products-carousel {
	width: 100px;
	display: inline-block;
}

/* general */

/*.flex-row {
	display: flex;
	flex-direction: row;
	padding: 10px 0px 0px 30px;
}
.flex-col-aside {
	flex-basis: 14%;
}
.flex-col-main {
	flex-basis: 86%;
	padding-right: 150px;
}*/

/* header */

.sub-header {
	height: 80px;
	background-color: #1F303A;
}
.sub-header-toggle {
	position: absolute;
	height: 80px;
	top: 0px;
	background-color: #1F303A;
	transform: translateY(-80px);
	z-index: 9999;
	width: 100%;
	transition: all .25s ease-in-out;
}
.sub-header-toggle.show {
	transition: all .25s ease-in-out;
	transform: translateY(0px);
	/*top: -80px;*/
}
.hide-search {
	cursor: pointer;
	float: right;
	height: 30px;
	width: 30px;
	display: inline-block;
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
	line-height: 30px;
	text-align: center;
}
.navigation	{
	height: 40px;
	background-color: #fff;
	border-bottom: 1px solid #1F303A;
	position: relative;
}
.navigation ul {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 40px;
	text-align: center;
}
.navigation .desktop-nav {
	display: block;
}
.navigation .mobile-nav {
	height: calc(100vh - 140px);
	width: 100%;
	left: 0px;
	display: block;
	top: 40px;
	position: absolute;
	display: none;
	background-color: #fff;
	z-index: 9999;
	padding-top: 30px;
}
.navigation ul li {
	list-style-type: none;
	display: inline-block;
	min-width: 170px;
}
.navigation ul.mobile-nav li {
	display: block;
}
.navigation ul li a {
	height: 40px;
	padding: 0px 15px;
	line-height: 40px;
	color: #1F303A;
	position: relative;
}
.navigation ul.mobile-nav li a {
	height: 50px;
	padding: 0px 15px;
	line-height: 50px;
	font-size: 20px;
}
.navigation ul.desktop-nav li a:after {
	content: '';
	width: 0px;
	position: absolute;
	display: block;
	height: 1px;
	background-color: #1F303A;
	bottom: 0px;
	left: 0px;
	transition: .3s ease-in-out;
}
.navigation ul.desktop-nav li a:hover::after,
.navigation ul.desktop-nav li.active a:after {
	width: 100%;
}
.navigation ul.desktop-nav li a:hover,
.navigation ul.desktop-nav li a:focus {
	text-decoration: none;
}
.nav-button {
	display: inline-block;
	height: 40px;
	width: 40px;
	cursor: pointer;
	display: none;
}
.hidden-nav-button-wrapper span {
	display: inline-block;
	width: 30px;
	height: 2px;
	position: absolute;
	background-color: #1F303A;
	border-radius: 4px;
	opacity: 1;
	transform: rotate(0deg);
	left: 20px;
	transition: .25s ease-in-out;
}
.hidden-nav-button-wrapper span:nth-child(1){
	top: 8px;
	transform-origin: left center;
}
.hidden-nav-button-wrapper span:nth-child(2){
	top: 19px;
	transform-origin: left center;
}
.hidden-nav-button-wrapper span:nth-child(3){
	top: 30px;
	transform-origin: left center;
}
/*animation*/
.nav-button.open .hidden-nav-button-wrapper span:nth-child(1){
	top: 7px;
	transform: rotate(45deg);
}
.nav-button.open .hidden-nav-button-wrapper span:nth-child(2){
	width: 0%;
	opacity: 0;
}
.nav-button.open .hidden-nav-button-wrapper span:nth-child(3){
	top: 28px;
	transform: rotate(-45deg);
}

#cart-modal.modal {
	top: 60px;
    right: -60%;
}
.top-navigation {
	height: 80px;
	position: relative;
}
.logo {
	text-align: center;
	padding-top: 20px;
}
.search-input {
	height: 80px;
	padding-top: 15px;
	display: flex;
}
.search-input input {
	height: 50px;
	width: calc(100% - 50px);
	border: none;
	outline: none;
	background-color: #fff;
	color: #1F303A;
	border-right: 1px solid #1F303A;
	padding: 0px 10px;
	font-size: 22px;
}
.search-input button {
	height: 50px;
	width: 50px;
	border: none;
	outline: none;
	background-color: #fff;
	color: #1F303A;
	font-size: 22px;
}
.right-menu {
	padding: 45px 0px 0px 0px;
	height: 100px;
	display: flex;
	/*flex-direction: column;*/
	/*align-items: center;*/
	color: #fff;
	justify-content: flex-end;
}
.right-menu span,
.right-menu span a {
	color: #fff;
	font-size: 12px;
	display: inline-block;
	padding: 0px 5px;
}
.search-toggle {
	cursor: pointer;
}
.cart-items-container {
	padding: 15px 20px;
}
.preview-cart-item {
	padding: 10px 0px;
	border-bottom: 1px solid #b8b6b6;
	display: flex;
	/*justify-content: space-between;*/
}
.preview-cart-item .info {
	display: inline-block;
	padding-left: 15px;
	color: #b8b6b6;
	min-width: 110px;
}
.preview-cart-item .info .name {
	color: #1F303A;
	font-weight: bold;
}
.preview-cart-item .price {
	display: flex;
	font-weight: bold;
	flex-direction: column;
	min-width: 60px;
}
.delete-product {
	margin-top: auto;
	align-self: flex-end;
	cursor: pointer;
	color: #b8b6b6;
	font-size: 12px;
}
.price-wr {
	font-size: 12px;
	text-align: right;
}
.preview-cart-item p {
	font-size: 12px;
	margin-bottom: 0px;
}
.cart-heading {
	font-size: 13px;
	font-weight: bold;
}
a.buy-btn {
	margin-top: 40px;
	height: 34px;
	line-height: 32px;
	display: inline-block;
	width: 100%;
	text-align: center;
	background-color:  #1F303A;
	color: #fff;
}
a.buy-btn:hover {
	text-decoration: none;
}
.cart-items-footer .total,
.cart-items-footer .cart-delivery {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	margin-top: 20px;
}
.cart-items-footer .total {
	font-weight: bold;
}

/* footer */

footer {
	border-top: 1px solid #1F303A;
	min-height: 250px;
	padding: 20px 0px 0px 0px;
}
.f-column {
	min-height: 180px;
}
.f-column-h,
.collection-h,
.products-main-h {
	padding: 20px 0px 15px 0px;
	font-size: 15px;
	color: #1F303A;
	font-weight: bold;
}
.f-column-list {
	padding: 0px;
	margin: 0px;
}
.f-column-list li,
.collection-list li {
	list-style-type: none;
}
.f-column-list li a,
.collection-list li a {
	color: #1F303A;
	font-size: 13px;
}
.social-links {
	font-size: 20px;
}
.social-links i {
	margin: 10px 5px 0px 0px;
}
.copy {
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 14px;
}

/* pages */

.main-container {
	min-height: 500px;
}

/* product */

.products-wrapper {
	padding: 30px;
}
.products-main-h,
.pagination {
	/*padding-bottom: 30px;*/
	display: inline-block;
}
.products-header {
	display: flex;
	justify-content: space-between;
	/*padding-left: 90px;*/
	/*padding-right: 150px;*/
}
.products-footer {
	display: flex;
	justify-content: flex-end;
	/*padding-right: 150px;*/
}
.pagination ul {
	margin: 0px;
	padding: 0px;
}
.pagination ul li {
	display: inline-block;
	list-style-type: none;
}
.pagination ul li a {
	color: #1F303A;
	font-size: 12px;
}
.pagination ul li a:hover {
	text-decoration: none;
}
.product-item-wrapper {
	padding-top: 20px;
	display: block;
}
.product-item-wrapper:hover,
.product-item-wrapper:focus,
.product-item-wrapper:visited {
	text-decoration: none;
}
.product-item-wrapper:hover .overlay-img {
	transform: translateY(-40px);
}
.product-item-img {
	overflow-y: hidden;
	position: relative;
}
.product-item-img img {
	width: 100%;
	height: auto;
}
.product-item-desc {
	min-height: 70px;
	background-color: #fff;
	color: #1F303A;
}
.product-item-date,
.product-item-name,
.product-item-price {
	text-align: center;
}
.product-item-date,
.product-date {
	height: 36px;
	line-height: 38px;
	font-size: 14px;
	color: #b8b6b6;
}
.product-item-date {
	padding-top: 10px;
	height: 50px;
	line-height: 40px;
}
.product-item-name,
.product-name {
	font-size: 14px;
}
.product-item-price,
.product-price {
	font-size: 14px;
	font-weight: bold;
}
.product-item-price {
	padding-top: 5px;
}
.product-name, 
.product-price {
	color: #1F303A;
}
.overlay-img {
	position: absolute;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	background-color: rgba(255, 255, 255, .3);
	transition: .2s ease-in-out;
	color: #fff;
}
.overlay-img-h {
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #1F303A;
	font-weight: bold;
}
.collections-wrapper {
	padding-top: 10px;
}
.collection-h {
	padding: 20px 0px 0px 0px;
}
.collection-list {
	margin: 0px;
	padding: 0px 0px 0px 15px;
}
.collection-list label {
	height: 26px;
	line-height: 26px;
	cursor: pointer;
}
.collection-list label input[type="checkbox"] {
	visibility: hidden;
	margin-right: 10px;
}
.collection-list label .checkmark {
	display: inline-block;
	position: relative;
	width: 12px;
	height: 12px;
	border: 1px solid #1F303A;
	left: -70px;
	bottom: -1px;
	background-color: transparent;
}
input[type="checkbox"]:checked ~ .checkmark {
	background-color: #1F303A;
}

/* product page */

.product-gallery {
	padding: 95px 20px 55px 0px
}
.preview-gallery {
	box-sizing: border-box;
	max-width: 75px;
	padding-top: 280%;
}
.align-l {
	display: flex;
    justify-content: flex-end;
}
.preview-gallery .item {
	
}
.preview-gallery .item  img,
.product-main-img img {
	width: 100%;
	height: auto;
}
.preview-gallery .slick-prev,
.preview-gallery .slick-next {
	border: none;
	outline: none;
	background-color: transparent;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	color: #b8b6b6;
	opacity: .6;
	transition: .15s ease-in-out;
}
.preview-gallery .slick-prev:hover,
.preview-gallery .slick-next:hover {
	opacity: 1;
} 
.product-main-img a,
.preview-gallery .item a {
	outline: none;
}
.product-name {
	padding-top: 35px;
	font-weight: bold;
}
.product-date {
	padding-top: 10px;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
}
.product-price {
	padding: 30px 0px 10px 0px;
}
.product-size-select {
	max-width: 350px;
	border-radius: 0px;
	border: 1px solid #b8b6b6;
	font-size: 12px;
	color: #b8b6b6;
	margin-top: 20px;
}
.mg-5 {
	margin-bottom: 5px;
}
.product-size-select:focus,
.product-size-select:active,
.product-size-select:focus {
	outline: none;
	border: 1px solid #b8b6b6;
	box-shadow: none;
}
.product-control {
	display: flex;
	margin-top: 30px;
	max-width: 350px;
}
.product-form {
	padding-top: 30px;
	margin-bottom: 40px;
}
.product-form-control {
	display: inline-block;
	box-sizing: border-box;
	height: 34px;
	line-height: 30px;
	text-align: center;
	width: 50%;
	border: 1px solid #1F303A;
	margin-left: 5px;
	font-size: 12px;
	background-color: #fff;
	color: #1F303A;
	transition: .15s ease-in-out;
}
.product-form-control:active,
.product-form-control:focus {
	text-decoration: none;
	outline: none;
}
.product-form-control.add-to-cart {
	margin-left: 0px;
	margin-right: 5px;
	background-color: #1F303A;
	color: #fff;
}
.product-form-control:hover {
	background-color:#1F303A;
	color: #fff;
}
.size-modal-toggle {
	border: none;
	background-color: transparent;
	outline: none;
	color: #b8b6b6;
	text-decoration: underline;
	margin-bottom: 15px;
	font-size: 12px;
	padding: 0px;
	margin-top: 15px;
}
.modal-content {
	border-radius: 0px;
	border: none;
	color: #1F303A;
}
.color-select {
	margin: 0px;
	padding: 0px;
	display: flex;
	align-items: center;
}
.color-select li {
	display: inline-block;
	list-style-type: none;
	height: 20px;
	margin-right: 6px;
}
.color-select li input {
	visibility: hidden;
}
.color-select li label {
	width: 16px;
	height: 16px;
}
.color-select li .checkmark {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: grey;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	top: -20px;
}
.color-select li .checkmark:after {
	content: '';
	display: none;
	width: 16px;
	height: 2px;
	position: relative;
	bottom: -20px;
	background-color: #1F303A;
}
input[type="radio"]:checked ~ .checkmark:after  {
	display: block;
}
.color-selected {
	font-size: 11px;
	color: #1F303A;
	font-weight: bold;
	padding: 15px 0px 0px 0px; 
}
.color-selected span {
	margin-left: 5px;
}
.product-description {
	padding: 95px 0px;
}
.description-collapse {
	color: #1F303A;
	font-size: 12px;
	padding: 5px 0px;
}
.description-collapse .info-collapse {
	padding: 20px 5px;
}
.product-collapse-btn {
	border: none;
	outline: none;
	background-color: transparent;
}
.description-collapse button.collapsed:after,
.description-collapse button:after {
	display: inline-block;
	margin-left: 5px;
}
.description-collapse button[aria-expanded="true"]:after {
	content: '-';
}
.description-collapse button:after {
	content: '+';
}

/* shopping cart */

.shopping-tabs-nav {
	padding: 60px 0px 60px 0px;
	margin: 0px;
	text-align: center;
}
.shopping-tabs-nav li {
	display: inline-block;
	min-width: 260px;
}
.shopping-tabs-nav li a p {
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	color: #b8b6b6;
	transition: .15s;
	border-bottom: 2px solid transparent;
	/*margin-bottom: 0px;*/
}
.shopping-tabs-nav li.active a p {
	color: #1F303A;
	border-bottom: 2px solid #1F303A;
}
.shopping-tabs-nav li a span.products-count {
	font-size: 15px;
	color: #b8b6b6;
	font-weight: bold;
}
.shopping-tabs-nav li a:focus,
.shopping-tabs-nav li a:hover {
	text-decoration: none;
	
}
.shopping-cart-item {
	margin-bottom: 40px;
}
.shopping-cart-item-header {
	color: #b8b6b6;
	border-bottom: 2px solid #b8b6b6;
}
.shopping-cart-item-footer {
	/*margin-top: 15px;*/
	border-bottom: 2px solid #b8b6b6;
}
.shopping-cart-item-preview {
	padding: 20px 0px;
	display: flex;
}
.shopping-cart-item-preview .product-name,
.shopping-cart-item-preview .product-date {
	padding: 0px 0px 0px 35px;
}
.shopping-cart-item-preview .product-name {
	padding-top: 35px;
}
.shopping-cart-item-right {
	min-height: 275px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*margin-top: 20px;*/
}
.shopping-cart-item-control,
.shopping-cart-item-price {
	text-align: right;
	color: #1F303A;
}
.shopping-cart-item-price {
	margin-top: 18px;
}
.t-right {
	text-align: right;
}
.shopping-cart-item-control a {
	color: #1F303A;
	font-size: 12px;
	display: inline-block;
}
.shopping-cart-item-control a:hover {
	text-decoration: none;
}
table.highlighted {
	overflow: hidden;
	cursor: pointer;
	margin-top: 10px;
	position: relative;
}
table.highlighted:after {
	content: '';
	display: block;
	height: 3px; 
	width: 100%;
	background-color: #fff;
	position: absolute; 
	bottom: -2px;
}
.highlighted td.table-color-td {
	box-shadow: 0px 0px 0px 2px transparent;
	width: 50px;
	color: #b8b6b6;
}
td, th {
	margin: 10px;
	padding: 0px;
	position: relative;
	outline: 0;
	text-align: center;
}
.shopping-cart-item-preview-desc .product-name {
	font-size: 12px;
}
.shopping-cart-item-preview-desc .product-date {

}
.highlighted tbody {
	border-right: 1px solid #b8b6b6;
}
.highlighted td, .highlighted th  {
	box-shadow: 0px 2px 0px 3px #fff;
	box-sizing: border-box;
}
.highlighted th.col,
.highlighted td.table-color-td {
	background-color: #fff;
}
.highlighted td:hover {
	/*background-color: #9cd3e5;*/
}
.highlighted tr td:last-child input {
	margin-right: 0px;
}
.highlighted tr td:nth-child(2) input {
	margin-left: 0px;
}
.highlighted tr:last-child td span {
	/*box-shadow: 0px 3px 0px 3px green;*/
}
.highlighted tr:nth-child(1) td span {
	/*box-shadow: 0px 3px 0px 3px green;*/
}
td input {
	outline: none;
	border: 1px solid #b8b6b6;
	width: 46px;
	height: 34px;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	bottom: -2px;
	left: 0px;
	margin: 3px;
	background-color: transparent;
	padding: 0px 3px;
	font-size: 12px;
}
td input:hover {
	background-color: #cef3ff;
}
body:not(.nohover) tbody tr:hover {
	background-color: #d9edf7;
}
.table-color {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: grey;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	/*top: -20px;*/
}
.highlighted td:hover::after,
.highlighted thead th:not(:empty):hover::after,
.highlighted td:focus::after,
.highlighted thead th:not(:empty):focus::after { 
	content: '';  
	height: 10000px;
	left: 0;
	position: absolute;  
	top: -5000px;
	width: 100%;
	z-index: -1;
}

.highlighted td:hover::after {
	background-color: #d9edf7;
}

.highlighted td:focus::after {
	background-color: #d9edf7;
}

/* Focus stuff for mobile */
.highlighted td:focus::before,
.highlighted tbody th:focus::before {
	background-color: lightblue;
	content: '';  
	height: 100%;
	top: 0;
	left: -5000px;
	position: absolute;  
	width: 10000px;
	z-index: -1;
}
.total-order,
.total-count {
	font-size: 12px;
	color: #1F303A;
	display: flex;
	justify-content: space-between;
}
.total-count {
	margin-bottom: 30px;
}
.order-btn,
.back-to {
	display: inline-block;
    box-sizing: border-box;
    height: 34px;
    line-height: 32px;
    text-align: center;
    width: 100%;
    border: 1px solid #1F303A;
    font-size: 12px;
    background-color: #fff;
    color: #1F303A;
    transition: .15s ease-in-out;
    margin-bottom: 5px;
}
.back-to {
	margin-bottom: 30px;
}
.order-btn:hover,
.back-to:hover {
	text-decoration: none;
}
.order-btn:hover {
	color: #fff;
}
.order-btn,
.back-to:hover {
	background-color: #1F303A;
	color: #fff;
}


/* sliders */

.slider {
	height: 100%;
}
.slider .slick-prev,
.slider .slick-next {
	position: absolute;
	z-index: 999;
	border: none;
	outline: none;
	background-color: transparent;
	width: 60px;
	height: 100px;
	bottom: calc(50% - 50px);
	font-size: 30px;
	color: #fff;
	opacity: .6;
	transition: .15s ease-in-out;
}
.slider .slick-prev:hover,
.slider .slick-next:hover {
	opacity: 1;
} 
.slider .slick-prev {
	left: 0px;
}
.slider .slick-next {
	right: 0px;
}
.slider .a-slide{ 
	height: calc(100vh - 140px); 
	/*height: 650px;*/
	width: 100%; 
	background-size: cover !important;
}
.slider .slick-slider{ 
	height: 100%;
} 
.slider .slick-dots {
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: transparent;
	position: absolute;
	bottom: 30px;
	width: 100%;
}
.slider .slick-dots li {
	list-style-type: none;
	display: inline-block;
	margin-right: 10px;
}
.slider .slick-dots li button {
	border: none;
	outline: none;
	background-color: transparent;
	height: 9px;
	width: 9px;
	border: 1px solid #fff;
	padding: 0px;
	border-radius: 50%;
}
.slider .slick-dots li.slick-active button {
	background-color: #fff;
}

/* media */

@media screen and (max-width: 991px){
	.product-gallery {
		padding: 15px 0px;
	}
	.product-description {
		padding: 0px 0px 15px 0px;
	}
}

@media screen and (max-width: 768px){
	.navigation .desktop-nav {
		display: none;
	}
	.navigation .mobile-nav {
		display: block;
	}
	.nav-button {
		display: block;
	}
	.f-column {
		text-align: center;
	}
}