@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
}
.place {
	height: 100px;
	width: 100%;
	background-color: #c1c1c1;
}

.products-carousel {
	width: 100px;
	display: inline-block;
}

/* general */

/* header */

.sub-header {
	height: 100px;
	background-color: #1F303A;
}
.navigation	{
	height: 40px;
	background-color: #fff;
	border-bottom: 1px solid #2f4a5d;
	position: relative;
}
.navigation ul {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 40px;
	text-align: center;
}
.navigation .desktop-nav {
	display: block;
}
.navigation .mobile-nav {
	height: calc(100vh - 140px);
	width: 100%;
	left: 0px;
	display: block;
	top: 40px;
	position: absolute;
	display: none;
	background-color: #fff;
	z-index: 9999;
	padding-top: 30px;
}
.navigation ul li {
	list-style-type: none;
	display: inline-block;
}
.navigation ul.mobile-nav li {
	display: block;
}
.navigation ul li a {
	height: 40px;
	padding: 0px 15px;
	line-height: 40px;
	color: #2f4a5d;
	position: relative;
}
.navigation ul.mobile-nav li a {
	height: 50px;
	padding: 0px 15px;
	line-height: 50px;
	font-size: 20px;
}
.navigation ul.desktop-nav li a:after {
	content: '';
	width: 0px;
	position: absolute;
	display: block;
	height: 1px;
	background-color: #2f4a5d;
	bottom: 0px;
	left: 0px;
	transition: .3s ease-in-out;
}
.navigation ul.desktop-nav li a:hover::after,
.navigation ul.desktop-nav li.active a:after {
	width: 100%;
}
.navigation ul.desktop-nav li a:hover,
.navigation ul.desktop-nav li a:focus {
	text-decoration: none;
}
.nav-button {
	display: inline-block;
	height: 40px;
	width: 40px;
	cursor: pointer;
	display: none;
}
.hidden-nav-button-wrapper span {
	display: inline-block;
	width: 30px;
	height: 2px;
	position: absolute;
	background-color: #1F303A;
	border-radius: 4px;
	opacity: 1;
	transform: rotate(0deg);
	left: 20px;
	transition: .25s ease-in-out;
}
.hidden-nav-button-wrapper span:nth-child(1){
	top: 8px;
	transform-origin: left center;
}
.hidden-nav-button-wrapper span:nth-child(2){
	top: 19px;
	transform-origin: left center;
}
.hidden-nav-button-wrapper span:nth-child(3){
	top: 30px;
	transform-origin: left center;
}
/*animation*/
.nav-button.open .hidden-nav-button-wrapper span:nth-child(1){
	top: 7px;
	transform: rotate(45deg);
}
.nav-button.open .hidden-nav-button-wrapper span:nth-child(2){
	width: 0%;
	opacity: 0;
}
.nav-button.open .hidden-nav-button-wrapper span:nth-child(3){
	top: 28px;
	transform: rotate(-45deg);
}

/* footer */

footer {
	border-top: 1px solid #2f4a5d;
	min-height: 250px;
	padding: 20px 0px 0px 0px;
}
.f-column {
	min-height: 180px;
}
.f-column-h,
.collection-h,
.products-main-h {
	padding: 15px 0px;
	font-size: 18px;
	color: #2f4a5d;
	font-weight: bold;
}
.f-column-list {
	padding: 0px;
	margin: 0px;
}
.f-column-list li,
.collection-list li {
	list-style-type: none;
}
.f-column-list li a,
.collection-list li a {
	color: #2f4a5d;
	font-size: 14px;
}
.copy {
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 14px;
}

/* pages */

.main-container {
	min-height: 500px;
}

/* product */

.products-wrapper {
	padding: 30px;
}
.products-main-h,
.pagination {
	padding-bottom: 30px;
	display: inline-block;
}
.products-header {
	display: flex;
	justify-content: space-between;
}
.products-footer {
	display: flex;
	justify-content: flex-end;
}
.pagination ul {
	margin: 0px;
	padding: 0px;
}
.pagination ul li {
	display: inline-block;
	list-style-type: none;
}
.pagination ul li a {
	color: #2f4a5d;
}
.pagination ul li a:hover {
	text-decoration: none;
}
.product-item-wrapper {
	padding-top: 20px;
	display: block;
}
.product-item-wrapper:hover {
	text-decoration: none;
}
.product-item-wrapper:hover .overlay-img {
	transform: translateY(-50px);
}
.product-item-img {
	overflow-y: hidden;
	position: relative;
}
.product-item-img img {
	width: 100%;
	height: auto;
}
.product-item-desc {
	min-height: 70px;
	background-color: #fff;
	color: #2f4a5d;
}
.product-item-date,
.product-item-name,
.product-item-price {
	text-align: center;
}
.product-item-date,
.product-date {
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	color: #c1c1c1;
}
.product-item-name,
.product-name {
	font-size: 14px;
}
.product-item-price,
.product-price {
	font-size: 14px;
	font-weight: bold;
}
.product-name, 
.product-price {
	color: #2f4a5d;
}
.overlay-img {
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: rgba(255, 255, 255, .3);
	transition: .2s ease-in-out;
	color: #fff;
}
.overlay-img-h {
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	color: #2f4a5d;
	font-weight: bold;
}
.collection-list {
	margin: 0px;
	padding: 0px 0px 0px 15px;
}
.collection-list label {
	height: 26px;
	line-height: 26px;
	cursor: pointer;
}
.collection-list label input[type="checkbox"] {
	visibility: hidden;
	margin-right: 10px;
}
.collection-list label .checkmark {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	border: 1px solid #2f4a5d;
	left: -70px;
	bottom: -3px;
	background-color: transparent;
}
input[type="checkbox"]:checked ~ .checkmark {
	background-color: #2f4a5d;
}

/* product page */

.product-gallery {
	padding: 55px 10px 55px 0px
}
.preview-gallery {
	box-sizing: border-box;
}
.preview-gallery .item {
	
}
.preview-gallery .item  img,
.product-main-img img {
	width: 100%;
	height: auto;
}
.preview-gallery .slick-prev,
.preview-gallery .slick-next {
	border: none;
	outline: none;
	background-color: transparent;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	color: #c1c1c1;
	opacity: .6;
	transition: .15s ease-in-out;
}
.preview-gallery .slick-prev:hover,
.preview-gallery .slick-next:hover {
	opacity: 1;
} 
.product-main-img a,
.preview-gallery .item a {
	outline: none;
}
.product-name {
	padding-top: 30px;
}
.product-price {
	padding-bottom: 20px;
}
.product-size-select {
	border-radius: 0px;
	border: 1px solid #c1c1c1;
	font-size: 12px;
	color: #c1c1c1;
}
.product-size-select:focus,
.product-size-select:active,
.product-size-select:focus {
	outline: none;
	border: 1px solid #c1c1c1;
	box-shadow: none;
}
.product-control {
	display: flex;
}
.product-form-control {
	display: inline-block;
	box-sizing: border-box;
	height: 40px;
	line-height: 38px;
	text-align: center;
	width: 50%;
	border: 1px solid #2f4a5d;
	margin-left: 5px;
	font-size: 12px;
	background-color: #fff;
	color: #2f4a5d;
	transition: .15s ease-in-out;
}
.product-form-control:active,
.product-form-control:focus {
	text-decoration: none;
	outline: none;
}
.product-form-control.add-to-cart {
	margin-left: 0px;
	margin-right: 5px;
	background-color: #2f4a5d;
	color: #fff;
}
.product-form-control:hover {
	background-color:#2f4a5d;
	color: #fff;
}
.size-modal-toggle {
	border: none;
	background-color: transparent;
	outline: none;
	color: #c1c1c1;
	text-decoration: underline;
	margin-bottom: 15px;
	font-size: 12px;
}
.modal-content {
	border-radius: 0px;
	border: none;
	color: #2f4a5d;
}
.color-select {
	margin: 0px;
	padding: 0px;
	display: flex;
	align-items: center;
}
.color-select li {
	display: inline-block;
	list-style-type: none;
	height: 20px;
	margin-right: 6px;
}
.color-select li input {
	visibility: hidden;
}
.color-select li label {
	width: 18px;
	height: 18px;
}
.color-select li .checkmark {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: grey;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	top: -20px;
}
.color-select li .checkmark:after {
	content: '';
	display: none;
	width: 18px;
	height: 1px;
	position: relative;
	bottom: -20px;
	background-color: #2f4a5d;
}
input[type="radio"]:checked ~ .checkmark:after  {
	display: block;
}
.color-selected {
	font-size: 12px;
	color: #2f4a5d;
	padding: 15px 0px; 
}
.color-selected span {
	margin-left: 5px;
}
.product-description {
	padding: 55px 0px;
}
.description-collapse {
	color: #2f4a5d;
	font-size: 12px;
	padding: 5px 0px;
}
.description-collapse .info-collapse {
	padding: 30px 5px;
}
.product-collapse-btn {
	border: none;
	outline: none;
	background-color: transparent;
}
.description-collapse button.collapsed:after,
.description-collapse button:after {
	display: inline-block;
	margin-left: 5px;
}
.description-collapse button[aria-expanded="true"]:after {
	content: '-';
}
.description-collapse button:after {
	content: '+';
}

/* shopping cart */

.shopping-tabs-nav {
	padding: 50px 0px;
	margin: 0px;
	text-align: center;
}
.shopping-tabs-nav li {
	display: inline-block;
	min-width: 220px;
}
.shopping-tabs-nav li a {
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	color: #c1c1c1;
	transition: .15s;
}
.shopping-tabs-nav li.active a {
	color: #2f4a5d;
	border-bottom: 2px solid #2f4a5d;
}
.shopping-tabs-nav li a:focus,
.shopping-tabs-nav li a:hover {
	text-decoration: none;
	
}

/* sliders */

.slider {
	height: 100%;
}
.slider .slick-prev,
.slider .slick-next {
	position: absolute;
	z-index: 999;
	border: none;
	outline: none;
	background-color: transparent;
	width: 60px;
	height: 100px;
	bottom: calc(50% - 50px);
	font-size: 30px;
	color: #fff;
	opacity: .6;
	transition: .15s ease-in-out;
}
.slider .slick-prev:hover,
.slider .slick-next:hover {
	opacity: 1;
} 
.slider .slick-prev {
	left: 0px;
}
.slider .slick-next {
	right: 0px;
}
.slider .a-slide{ 
	height: calc(100vh - 140px); 
	/*height: 650px;*/
	width: 100%; 
	background-size: cover !important;
}
.slider .slick-slider{ 
	height: 100%;
} 
.slider .slick-dots {
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: transparent;
	position: absolute;
	bottom: 30px;
	width: 100%;
}
.slider .slick-dots li {
	list-style-type: none;
	display: inline-block;
	margin-right: 10px;
}
.slider .slick-dots li button {
	border: none;
	outline: none;
	background-color: transparent;
	height: 9px;
	width: 9px;
	border: 1px solid #fff;
	padding: 0px;
	border-radius: 50%;
}
.slider .slick-dots li.slick-active button {
	background-color: #fff;
}

/* media */

@media screen and (max-width: 991px){
	.product-gallery {
		padding: 15px 0px;
	}
	.product-description {
		padding: 0px 0px 15px 0px;
	}
}

@media screen and (max-width: 768px){
	.navigation .desktop-nav {
		display: none;
	}
	.navigation .mobile-nav {
		display: block;
	}
	.nav-button {
		display: block;
	}
	.f-column {
		text-align: center;
	}
}